/* Base styling */
* {
    box-sizing: border-box;
}

#naved {
    border: 3px solid #000;
}

.navbar-default .navbar {
    border: 3px solid #000;
    color:#000;
}

.navbar-default .navbar-nav>li>a {
    color: #000;
    font-weight: bold;
    font-size: 1.5rem;
    font-family: monospace, serif;
    background-color: #fff;
    border: 2px solid #000;
    text-align: center;
}

.navbar-default .navbar-nav>li>a:focus {
    color: #fff;
    background-color: #000;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #000;
    border: 2px solid #000;
}

.navbar-default .navbar-toggle {
    border: 2px solid #000;
}

.navbar-default .navbar-toggle:focus .icon-bar, .navbar-default .navbar-toggle:hover .icon-bar {
    border-color: #fff;

}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    border-color: #fff;

}


.navbar-default .navbar-header .navbar-brand {
    color: #000;
    font-weight: bold;
    font-size: 2.5rem;
    font-family: monospace, serif;
}

.navbar-brand {
    text-align: center;
    font-weight: bold;
    color: #000;
    font-size: 2rem;
    font-family: monospace, serif;
}

h1 {
    margin-bottom: 15px;
    text-align: center;
    margin-top: 4rem;
    font-weight: bolder;
    font-family: monospace, serif;
    font-size: 4rem;
    color: #000;
}

h2 {
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
}

.container-fluid {
    width: 100%;
    margin: 0 auto;
    background-color: rgba(117, 114, 121, 0.781);
}


.container {
    width: 80%;
    margin-left: auto;
    background-color: rgba(117, 114, 121, 0.8);
}

.container .chicken {
    color: #000;
}

.container .content {
    color: #000;
} 


.col-md {
    margin-left: auto;
}

p {
    font-size: 1.5rem;
    font-family: monospace, serif;
    font-weight: 500;;
}





/* Tablet view between 768px and 991px*/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.3333333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-9 {
    width: 75%;
  }
    
}

/* Mobile view maximum 767px */
@media (max-width: 767px) {
  .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5,
  .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10,
  .col-xs-11, .col-xs-12 {
    width: 100%;
  }
  .col-xs-1 {
    width: 8.3333333333%;
  }
  .col-xs-2 {
    width: 16.6666666667%;
  }
  .col-xs-3 {
    width: 25%;
  }
  .col-xs-4 {
    width: 33.3333333333%;
  }
  .col-xs-5 {
    width: 41.6666666667%;
  }
  .col-xs-6 {
    width: 50%;
  }
  .col-xs-7 {
    width: 58.3333333333%;
  }
  .col-xs-8 {
    width: 66.6666666667%;
  }
  .col-xs-9 {
    width: 75%;
  }
  .col-xs-10 {
    width: 83.3333333333%;
  }
  .col-xs-11 {
    width: 91.6666666667%;
  }
  .col-xs-12 {
    width: 100%;
  }
    
}