* {
  box-sizing: border-box;
}


#naved {
  background-color: gray;
  color:black;
  border: 2px solid black;
  border-radius: 0px;
}

#nav_brand {
  color:black;
  font-weight: 700;
  /* padding-top: 20px; */
}

.navButton {
  border: 2px solid black;
}

#navButton {
  border: 2px solid black ;
}

.dropNav {
  /* background-color: white; */
  /* border: 2px solid black; */
  text-align: center;
  color: black;
}

#navItem {
  color: black;
  border-bottom: 2px solid;
  background-color: white;

}

h1 {
  color:black;
  font-weight: 700;
}

#talled {
  background-color: gray;
  color:black;
  border: 2px solid black;
  border-radius: 0px;
}
/* Add your custom styles here */
.tall-section {
  background-color: gray;
  padding: 20px;
  color: black;
  margin-left: auto;
}

.chicken {
  text-align: center;
}


h2 {
  font-size: 1.8rem;
  font-weight: 700;
}

/* mobile style for the page  */
@media (max-width: 767px) {
  #nav_brand {
      padding: 20px;
  }

  #talled{
      margin: 0 60px;
  }

.col-sm-12 {
  width: 100%;
  }
}